.locations, .amenities {
	height: 100%;
	width: 25%;
	float: left;
}

.locations {
  border-right: 1px solid #DDDDDD;
}

h3 {
  font-weight: 600;
  font-size: 17px;
  padding: 4px 0 0 18px;
}

h4 {
  font-weight: 400;
  font-size: 14px;
  padding: 0 18px;
  position: relative;
  bottom: 18px;
  line-height: 14px;
}
